@font-face {
    font-family:'OperatorMono';
    font-style: normal;
    font-weight: 100;
    src: url("./OperatorMono-Bold.otf") format(“opentype”)
}

@font-face {
    font-family:'OperatorMono-Light';
    font-style: normal;
    font-weight: 100;
    src: url("./OperatorMono-Light.otf") format("opentype")
}

@font-face {
    font-family:'OperatorMono-LightItalic';
    font-style: normal;
    font-weight: 100;
    src: url("./OperatorMono-LightItalic.otf") format("opentype")
}

body {
    font-family: 'OperatorMono-Bold';
    background-color: #234E6D;
}
